<a href="https://colab.research.google.com/github/omvishal1/python-practice/blob/main/Python_Data_Types_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types

1. Data types are the classification or categorization of data items. 

2. It represents the kind of value that tells what operations can be performed on a particular data. 

3. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Variables can hold values, and every value has a data-type. 

Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. 

The interpreter implicitly binds the value with its type.

a = 5  

The variable a holds integer value five and we did not define its type. Python interpreter will automatically interpret variables a as an integer type.

Python enables us to check the type of the variable used in the program. Python provides us the type() function, which returns the type of the variable passed.

Consider the following example to define the values of different data types and checking its type.

In [ ]:

a=10  
b="Hi Python"  
c = 10.5  
print(type(a))  
print(type(b))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

# Standard data types

A variable can hold different types of values. For example, a person's name must be stored as a string whereas its id must be stored as an integer.

Python provides various standard data types that define the storage method on each of them. The data types defined in Python are given below.

1. Numbers (int/Flaot/Complex)

2. Sequence Type (String/List/Tuple)

3. Boolean

4. Set

5. Dictionary

![](1.png)

# Dictionaries

# What are Dictionaries?

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of the numerical indexes such as a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.


<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsList.png" width="650" />

# Creating a Dictionary

1. In Python, a Dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’.

2. Dictionary holds pairs of values, one being the Key and the other corresponding pair element being its Key:value. 

3. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

Python Dictionary is used to store the data in a key-value pair format. The dictionary is the data type in Python, which can simulate the real-life data arrangement where some specific value exists for some particular key. It is the mutable data-structure. The dictionary is defined into element Keys and values.

1. Keys must be a single element

2. Value can be any type such as list, tuple, integer, etc.

In other words, we can say that a dictionary is the collection of key-value pairs where the value can be any Python object. In contrast, the keys are the immutable Python object, i.e., Numbers, string, or tuple

An example of a Dictionary Dict:

In [ ]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

In [ ]:
a={1:3,2:'d','a':34}
a

{1: 3, 2: 'd', 'a': 34}

In [ ]:
# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'India', 2: 'For', 3:'India'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict)

Dictionary with the use of dict():
{1: 'India', 2: 'For', 3: 'India'}

In [ ]:

  
# Creating a Dictionary 
# with each item as a Pair 
Dict = dict([(1, 'India'), (2, 'For')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Dictionary with each item as a pair:
{1: 'India', 2: 'For'}

# key:Value

In [ ]:

# Create the dictionary An example of a Dictionary

Dict = { "key2": "2", "key3": [3, 3, 3],"key1": 1, "keyi:4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key2': '2',
 'key3': [3, 3, 3],
 'key1': 1,
 'keyi:4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
# Creating a Nested Dictionary  
# as shown in the below image 
Dict = {1: 'India', 2: 'For',  
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'India'}} 
  
print(Dict)

{1: 'India', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'India'}}

# Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

# Changeable
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

In [ ]:
a={1:2,2:3,4:5,'a':6}
a

{1: 2, 2: 3, 4: 5, 'a': 6}

In [ ]:
a['a']=9

In [ ]:
a

{1: 2, 2: 3, 4: 5, 'a': 9}

# Duplicates Not Allowed
Dictionaries cannot have two items with the same key:

In [ ]:
#Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# Dictionary Length
To determine how many items a dictionary has, use the len() function:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(len(thisdict))

3

# Adding Element in Dictionary

In [ ]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Adding elements one at a time 
Dict[0] = 'India'
Dict[2] = 'For'
Dict[3] = 1
Dict['a']=6
Dict['arpit']='yadav'
print("\nDictionary after adding 3 elements: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'India', 2: 'For', 3: 1, 'a': 6, 'arpit': 'yadav'}

In [ ]:
Dict[3]=10

# Dictionary is Mutable

In [ ]:
# Adding set of values  
# to a single Key 
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ") 
print(Dict)

Dictionary after adding 3 elements:
{0: 'India', 2: 'For', 3: 10, 'a': 6, 'arpit': 'yadav', 'Value_set': (2, 3, 4)}

In [ ]:
Dict[2]

'For'

In [ ]:
# Updating existing Key's Value 
Dict[2] = 'Welcome'
print("\nUpdated key value: ") 
print(Dict)

Updated key value:
{0: 'India', 2: 'Welcome', 3: 10, 'a': 6, 'arpit': 'yadav', 'Value_set': (2, 3, 4)}

In [ ]:
# Adding Nested Key value to Dictionary 
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'India'}} 
print("\nAdding a Nested Key: ") 
print(Dict)

Adding a Nested Key:
{0: 'India', 2: 'Welcome', 3: 10, 'a': 6, 'arpit': 'yadav', 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'India'}}}

# Accessing the dictionary values

We have discussed how the data can be accessed in the list and tuple by using the indexing.

However, the values can be accessed in the dictionary by using the keys as keys are unique in the dictionary.

The dictionary values can be accessed in the following way.

In [ ]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}  
print(type(Employee))  
print("printing Employee data .... ")  
print("Name : %s" %Employee["Name"])  
print("Age : %d" %Employee["Age"])  
print("Salary : %d" %Employee["salary"])  
print("Company : %s" %Employee["Company"])

<class 'dict'>
printing Employee data ....
Name : John
Age : 29
Salary : 25000
Company : GOOGLE

# Accessing element in dictionary

In [ ]:
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
print(stud)

{'Jay': 14, 'Raj': 20, 'Maya': 15}

In [ ]:
# get the age of Raj
x = stud["Raj"]
x

20

# We can also use get() method to access the elements

In [ ]:
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
y= stud['Raj']
x = stud.get("Raj")
print(x)
print(y)

20
20

In [ ]:
# Creating a Dictionary  
Dict = {1: 'India', 'name': 'For', 3: 'India'} 
  
# accessing a element using get() 
# method 
print("Accessing a element using get:") 
print(Dict.get(3))

Accessing a element using get:
India

In [ ]:
# Python program to demonstrate   
# accessing a element from a Dictionary  
  
# Creating a Dictionary  
Dict = {1: 'India', 'name': 'For', 3: 'India'} 
  
# accessing a element using key 
print("Accessing a element using key:") 
print(Dict['name']) 
  
# accessing a element using key 
print("Accessing a element using key:") 
print(Dict[1])

Accessing a element using key:
For
Accessing a element using key:
India

# Change the value

In [ ]:
# change the value
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
print(stud)
stud["Jay"] = 18
print(stud)

{'Jay': 14, 'Raj': 20, 'Maya': 15}
{'Jay': 18, 'Raj': 20, 'Maya': 15}

# Adding dictionary values

# Add Elements

The dictionary is a mutable data type, and its values can be updated by using the specific keys. The value can be updated along with key Dict[key] = value. The update() method is also used to update an existing value.

Note: If the key-value already present in the dictionary, the value gets updated. Otherwise, the new keys added in the dictionary.

Let's see an example to update the dictionary values.

In [ ]:
# Creating an empty Dictionary   
Dict = {}   
print("Empty Dictionary: ")   
print(Dict)   
    
# Adding elements to dictionary one at a time   
Dict[0] = 'Peter'  
Dict[2] = 'Joseph'  
Dict[3] = 'Ricky'  
print("\nDictionary after adding 3 elements: ")   
print(Dict)   
    
# Adding set of values    
# with a single Key   
# The Emp_ages doesn't exist to dictionary  
Dict['Emp_ages'] = 20, 33, 24  
print("\nDictionary after adding 3 elements: ")   
print(Dict)   
    
# Updating existing Key's Value   
Dict[3] = 'India'  
print("\nUpdated key value: ")   
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky'}

Dictionary after adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky', 'Emp_ages': (20, 33, 24)}

Updated key value:
{0: 'Peter', 2: 'Joseph', 3: 'India', 'Emp_ages': (20, 33, 24)}

# Deleting elements using del keyword

In [ ]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}    
print(type(Employee))    
print("printing Employee data .... ")    
print(Employee)    
print("Deleting some of the employee data")     
del Employee["Name"]    
del Employee["Company"]    
print("printing the modified information ")    
print(Employee)    
print("Deleting the dictionary: Employee");    
del Employee    
print("Lets try to print it again ");    
print(Employee)

<class 'dict'>
printing Employee data ....
{'Name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}
Deleting some of the employee data
printing the modified information
{'Age': 29, 'salary': 25000}
Deleting the dictionary: Employee
Lets try to print it again

NameError: name 'Employee' is not defined

# Using pop() method
The pop() method accepts the key as an argument and remove the associated value. Consider the following example.

In [ ]:
# Creating a Dictionary   
Dict = {1: 'JavaTpoint', 2: 'Peter', 3: 'Thomas'}   
# Deleting a key    
# using pop() method   
pop_ele = Dict.pop(3)   
print(Dict)

{1: 'JavaTpoint', 2: 'Peter'}

In [ ]:
# add new element
# change the value
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
print(stud)
stud['Kiran'] = 19
print(stud)

{'Jay': 14, 'Raj': 20, 'Maya': 15}
{'Jay': 14, 'Raj': 20, 'Maya': 15, 'Kiran': 19}

# clear() method¶

In [ ]:
# remove all the elements from stud
# change the value
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
stud.clear()
stud

{}

# copy() method

In [ ]:
# create a dictionary
emp = {'101': 'John',
 '102': 'Olivia',
 '103': 'Sophia'
 }
emp

{'101': 'John', '102': 'Olivia', '103': 'Sophia'}

In [ ]:
# create a copy of dictionary
emp_copy = emp.copy()
emp_copy

{'101': 'John', '102': 'Olivia', '103': 'Sophia'}

# fromkeys() method

It returns a dictionary with the specified keys and the specified value

In [ ]:
# create a tuple
x = ('John', 'Olivia', 'Sophia')
# create a numeric variable
y = 1300
fees = dict.fromkeys(x, y)
print(fees)

{'John': 1300, 'Olivia': 1300, 'Sophia': 1300}

# items() method

In [ ]:
fees.items()

dict_items([('John', 1300), ('Olivia', 1300), ('Sophia', 1300)])

# keys() method

In [ ]:
fees.keys()

dict_keys(['John', 'Olivia', 'Sophia'])

In [ ]:
fees

{'John': 1300, 'Olivia': 1300, 'Sophia': 1300}

In [ ]:
fees.values()

dict_values([1300, 1300, 1300])

# pop() method

In [ ]:
# remove element from the dictionary
fees.pop('John')

1300

In [ ]:
fees

{'Olivia': 1300, 'Sophia': 1300}

# popitem() method¶

In [ ]:
# remove last inserted key-value pair
fees.popitem()

('Sophia', 1300)

In [ ]:
fees

{'Olivia': 1300}

# update() method

In [ ]:
# create a dictionary
emp = {'101': 'John',
 '102': 'Olivia',
 '103': 'Sophia'
 }
emp
# insert element
emp.update({104: "Sara"})
print(emp)

{'101': 'John', '102': 'Olivia', '103': 'Sophia', 104: 'Sara'}

# values() method

In [ ]:
# get the values
emp.values()

dict_values(['John', 'Olivia', 'Sophia', 'Sara'])

# Accessing element of a nested dictionary

In order to access the value of any key in nested dictionary, use indexing [] syntax.

In [ ]:
# Creating a Dictionary 
Dict = {'Dict1': {1: 'India'}, 
        'Dict2': {'Name': 'For'}} 
  
# Accessing element using key 
print(Dict['Dict1']) 
print(Dict['Dict1'][1]) 
print(Dict['Dict2']['Name'])

{1: 'India'}
India
For

# Removing Elements from Dictionary
Removing Elements from Dictionary

# Using del keyword
In Python Dictionary, deletion of keys can be done by using the del keyword. Using del keyword, specific values from a dictionary as well as whole dictionary can be deleted. Items in a Nested dictionary can also be deleted by using del keyword and providing specific nested key and particular key to be deleted from that nested Dictionary.

Note- del Dict will delete the entire dictionary and hence printing it after deletion will raise an Error.

In [ ]:
# Initial Dictionary 
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'India', 
        'A' : {1 : 'USA', 2 : 'UK', 3 : 'NZ'}, 
        'B' : {1 : 'CAN', 2 : 'Life'}} 
print("Initial Dictionary: ") 
print(Dict) 
  
# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict) 
  
# Deleting a Key from 
# Nested Dictionary 
del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'India', 'A': {1: 'USA', 2: 'UK', 3: 'NZ'}, 'B': {1: 'CAN', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'India', 'A': {1: 'USA', 2: 'UK', 3: 'NZ'}, 'B': {1: 'CAN', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'India', 'A': {1: 'USA', 3: 'NZ'}, 'B': {1: 'CAN', 2: 'Life'}}

# Using pop() method

Pop() method is used to return and delete the value of the key specified.

In [ ]:
# Creating a Dictionary 
Dict = {1: 'USA', 'name': 'For', 3: 'UK'} 
  
# Deleting a key  
# using pop() method 
pop_ele = Dict.pop(1) 
print('\nDictionary after deletion: ' + str(Dict)) 
print('Value associated to poped key is: ' + str(pop_ele))

Dictionary after deletion: {'name': 'For', 3: 'UK'}
Value associated to poped key is: USA

# Using clear() method

All the items from a dictionary can be deleted at once by using clear() method.

In [ ]:
# Creating a Dictionary 
Dict = {1: 'USA', 'name': 'For', 3: 'UK'} 
  
  
# Deleting entire Dictionary 
Dict.clear() 
print("\nDeleting Entire Dictionary: ") 
print(Dict)

Deleting Entire Dictionary:
{}

# Dictionary of Movie and Year of Release

Each key is separated from its value by a colon ":". Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this "{}".

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In summary, like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be one single value, however, multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

It is helpful to visualize the dictionary as a table, as in the following image. The first column represents the keys, the second column represents the values.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsStructure.png" width="650" />

Keys: You can retrieve the values based on the names:

In [ ]:
# Get value by keys

release_year_dict['Thriller']

'1982'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsKeyOne.png" width="500" />

In [ ]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

Now let you retrieve the keys of the dictionary using the method release_year_dict():

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

You can retrieve the values using the method values():

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

We can add an entry:

In [ ]:


# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

# We can delete an entry:

In [ ]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

# Verify the key is in the dictionary

In [ ]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

In [ ]:
"1977" in release_year_dict

False

# Zip Function

Python zip() method takes iterable or containers and returns a single iterator object, having mapped values from all the containers. It is used to map the similar index of multiple containers so that they can be used just using a single entity. Syntax : zip(*iterators)

In [ ]:
#Solution 1: The zip() function and a dict() constructor

#Use the zip(keys, values) to aggregate two lists.
#Wrap the result of a zip() function into a dict() constructor.
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

res_dict = dict(zip(keys, values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Check if a value exists in a dictionary

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict