<a href="https://colab.research.google.com/github/omvishal1/python-practice/blob/main/Python_Data_Types_LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types

Data types are the classification or categorization of data items. 

It represents the kind of value that tells what operations can be performed on a particular data. 

Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Variables can hold values, and every value has a data-type. 

Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. 

The interpreter implicitly binds the value with its type.

a = 5  

The variable a holds integer value five and we did not define its type. Python interpreter will automatically interpret variables a as an integer type.

Python enables us to check the type of the variable used in the program. Python provides us the type() function, which returns the type of the variable passed.

Consider the following example to define the values of different data types and checking its type.

In [ ]:

a=10  
b="Hi Python"  
c = 10.5  
print(type(a))  
print(type(b))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

# Standard data types

A variable can hold different types of values. For example, a person's name must be stored as a string whereas its id must be stored as an integer.

Python provides various standard data types that define the storage method on each of them. The data types defined in Python are given below.

1. Numbers (int/Flaot/Complex)

2. Sequence Type (String/List/Tuple)

3. Boolean

4. Set

5. Dictionary

![](1.png)

# List

1. Lists are the most versatile of Python's compound data types. 

2. A list contains items separated by commas and enclosed within square brackets ([]).

3. To some extent, lists are similar to arrays in C. 

4. One difference between them is that all the items belonging to a list can be of different data type

5. Lists are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). 

6. Lists need not be homogeneous always which makes it the most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects.


7. Lists are mutable, and hence, they can be altered even after their creation.

8. List in Python are ordered and have a definite count. 

9. The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index.


10. Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.

# Note- Lists are a useful tool for preserving a sequence of data and further iterating over it.

# Creating a List

Lists in Python can be created by just placing the sequence inside the square brackets[]. Unlike Sets, a list doesn’t need a built-in function for the creation of a list. 

Note – Unlike Sets, the list may contain mutable elements.

In [ ]:

# Python program to demonstrate
# Creation of List

# Creating a List
List = []
print("Blank List: ")
print(List)

Blank List:
[]

In [ ]:
# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

List of numbers:
[10, 20, 14]

In [ ]:
# Creating a List of strings and accessing
# using index
List = ["India", "is", "Great"]
print("\nList Items: ")
print(List[0])
print(List[2])

List Items:
India
Great

In [ ]:
a=[[1,2,3,4],['a','b','c']]
a

[[1, 2, 3, 4], ['a', 'b', 'c']]

In [ ]:
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['India', 'is'] , ['Great']]
print("\nMulti-Dimensional List: ")
print(List)

Multi-Dimensional List:
[['India', 'is'], ['Great']]

# Creating a list with multiple distinct or duplicate elements

A list may contain duplicate values with their distinct positions and hence, multiple distinct or duplicate values can be passed as a sequence at the time of list creation.

In [ ]:
# Creating a List with
# the use of Numbers
# (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

In [ ]:
# Creating a List with
# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'India', 4, 'For', 6, 'USA']
print("\nList with the use of Mixed Values: ")
print(List)

List with the use of Mixed Values:
[1, 2, 'India', 4, 'For', 6, 'USA']

# Knowing the size of List

In [ ]:
# Creating a List
List1 = []
print(len(List1))

# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

# Accessing elements from the List

1. In order to access the list items refer to the index number. 

2. Use the index operator [ ] to access an item in a list. 

3. The index must be an integer. 

4. Nested lists are accessed using nested indexing.

# <h3 id="index">Indexing</h3>

1. We are going to take a look at lists in Python.

2. A list is a sequenced collection of different objects such as integers, strings, and other lists as well. 

3. The address of each element within a list is called an <b>index</b>.

4. An index is used to access and refer to items within a list.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsIndex.png" width="1000" />

In [ ]:

L=["Michael Jackson", 10.1,1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
L[0]

'Michael Jackson'

In [ ]:
L[1]

10.1

In [ ]:
L[2]

1982

IndexError: list index out of range

In [ ]:
L[3]

IndexError: list index out of range

In [ ]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )

print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )

print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [ ]:
# Python program to demonstrate
# accessing of element from list

# Creating a List with
# the use of multiple values
List = ["India", "is", "Great"]

# accessing a element from the
# list using index number
print("Accessing a element from the list")
print(List[0])
print(List[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['India', 'is'] , ['Great']]

# accessing an element from the
# Multi-Dimensional List using
# index number
print("Accessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

Accessing a element from the list
India
Great
Accessing a element from a Multi-Dimensional list
is
Great

# Negative indexing


In Python, negative sequence indexes represent positions from the end of the array. 

Instead of having to compute the offset as in List[len(List)-3], it is enough to just write List[-3].

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second-last item, etc.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsNeg.png" width="1000" />

In [ ]:

L=["Michael Jackson", 10.1,1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
L[-1]

1982

In [ ]:
L[-2]

10.1

In [ ]:
L[-3]

'Michael Jackson'

# Example 1

In [ ]:
List = [1, 2, 'India', 4, 'For', 6, 'India']

# accessing an element using
# negative indexing
print("Accessing element using negative indexing")

# print the last element of list
print(List[-1])

# print the third last element of list
print(List[-3])

Accessing element using negative indexing
India
For

The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator. For example −

In [ ]:
#!/usr/bin/python
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list) # Prints complete list
print (list[0]) # Prints first element of the list
print (list[1:3]) # Prints elements starting from 2nd till 3rd
print (list[2:]) # Prints elements starting from 3rd element
print (tinylist * 2 )# Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

# Slicing

1. In Python List, there are multiple ways to print the whole List with all the elements, but to print a specific range of elements from the list, we use the Slice operation. 

2. Slice operation is performed on Lists with the use of a colon(:). 

3. To print elements from beginning to a range use [: Index], to print elements from end-use [:-Index], to print elements from specific Index till the end use [Index:], to print elements within a range, use [Start Index:End Index] and to print the whole List with the use of slicing operation, use [:]. Further, to print the whole List in reverse order, use [::-1].


Note – To print elements of List from rear-end, use Negative Indexes.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsSlice.png" width="1000">

In [ ]:

L=["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[:]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[:5]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[0:]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[0:5]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[3:5]

['MJ', 1]

In [ ]:
L[0:3]

['Michael Jackson', 10.1, 1982]

In [ ]:
L[0:]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[:5]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[:]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
# Python program to demonstrate
# Removal of elements in a List

# Creating a List
List = ['I','N','D','I','A','I','S','G','R','E','A','T']
print("Initial List: ")
print(List)

# Print elements of a range
# using Slice operation
Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

# Print elements from a
# pre-defined point to end
Sliced_List = List[5:]
print("\nElements sliced from 5th "
	"element till the end: ")
print(Sliced_List)

# Printing elements from
# beginning till end
Sliced_List = List[:]
print("\nPrinting all elements using slice operation: ")
print(Sliced_List)

Initial List:
['I', 'N', 'D', 'I', 'A', 'I', 'S', 'G', 'R', 'E', 'A', 'T']

Slicing elements in a range 3-8:
['I', 'A', 'I', 'S', 'G']

Elements sliced from 5th element till the end:
['I', 'S', 'G', 'R', 'E', 'A', 'T']

Printing all elements using slice operation:
['I', 'N', 'D', 'I', 'A', 'I', 'S', 'G', 'R', 'E', 'A', 'T']

# Negative index List slicing

In [ ]:
# Creating a List
List = ['I','N','D','I','A','I','S','G','R','E','A','T']
print("Initial List: ")
print(List)

# Print elements from beginning
# to a pre-defined point using Slice
Sliced_List = List[:-6]
print("\nElements sliced till 6th element from last: ")
print(Sliced_List)

# Print elements of a range
# using negative index List slicing
Sliced_List = List[-6:-1]
print("\nElements sliced from index -6 to -1")
print(Sliced_List)

# Printing elements in reverse
# using Slice operation
Sliced_List = List[::-1]
print("\nPrinting List in reverse: ")
print(Sliced_List)

Initial List:
['I', 'N', 'D', 'I', 'A', 'I', 'S', 'G', 'R', 'E', 'A', 'T']

Elements sliced till 6th element from last:
['I', 'N', 'D', 'I', 'A', 'I']

Elements sliced from index -6 to -1
['S', 'G', 'R', 'E', 'A']

Printing List in reverse:
['T', 'A', 'E', 'R', 'G', 'S', 'I', 'A', 'I', 'D', 'N', 'I']

# Stride

In [ ]:
s = 'King Arthur'
s[::2]

'Kn rhr'

In [ ]:

 s[1::2]

'igAtu'

In [ ]:

s[-1:4:-1]

'ruhtrA'

In [ ]:
L=["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[::2]

['Michael Jackson', 1982, 1]

# We can use the method to add new elements to the list:


1. append


2. extend


3. insert

# 1. Using append() method

Elements can be added to the List by using the built-in append() function. 

Only one element at a time can be added to the list by using the append() method, for the addition of multiple elements with the append() method, loops are used. 

Tuples can also be added to the list with the use of the append method because tuples are immutable. Unlike Sets, Lists can also be added to the existing list with the use of the append() method.

In [ ]:
L=['Michael Jackson', 10.1, 1982, 'MJ', 1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L.append(5)
L

['Michael Jackson', 10.1, 1982, 'MJ', 1, 5]

In [ ]:
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:

# Creating a List
List = []
print("Initial blank List: ")
print(List)

# Addition of Elements
# in the List
List.append(1)
print(List)
List.append(2)
print(List)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

Initial blank List:
[]
[1]
[1, 2]

List after Addition of Three elements:
[1, 2, 4]

In [ ]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = []
print("Initial blank List: ")
print(List)

# Addition of Elements
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

# Adding elements to the List
# using Iterator
for i in range(1, 4):
	List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)

# Addition of List to a List
List2 = ['For', 'India']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'India']]

# Using extend() method

Other than append() and insert() methods, there’s one more method for the Addition of elements, extend(), this method is used to add multiple elements at the same time at the end of the list.
Note – append() and extend() methods can only add elements at the end.

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend([5,6])
L

['Michael Jackson', 10.2, 5, 6]

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# add the elements to the list
food.extend('Roti')
food

['Rice', 'Panner', 'Chicken', 'R', 'o', 't', 'i']

In [ ]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of multiple elements
# to the List at the end
# (using Extend Method)
List.extend([8, 'India', 'Always'])
print("\nList after performing Extend Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'India', 'Always']

# Using insert() method

# Addition of Element at specific Position (using Insert Method)



append() method only works for the addition of elements at the end of the List, for the addition of elements at the desired position, insert() method is used.

Unlike append() which takes only one argument, the insert() method requires two arguments(position, value).

In [ ]:
List = [1,2,3,4]

List.insert(3, 12)

List

[1, 2, 3, 12, 4]

In [ ]:
#Creating a List 
List = [1,2,3,4] 
print("Initial List: ") 
print(List) 
  
# Addition of Element at  
# specific Position 
# (using Insert Method) 
List.insert(3, 12) 
List.insert(0, 'Geeks') 
print("\nList after performing Insert Operation: ") 
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# add element at index 1
food.insert(1, 'Roti')
food

['Rice', 'Roti', 'Panner', 'Chicken']

In [ ]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of Element at
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'India')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['India', 1, 2, 3, 12, 4]

# Removing Elements from the List

Elements can be removed from the List by using the built-in remove() function but an Error arises if the element doesn’t exist in the set. 

Remove() method only removes one element at a time, to remove a range of elements, the iterator is used. 

The remove() method removes the specified item.

Note – Remove method in List will only remove the first occurrence of the searched element.

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# remove 'Rice' element
food.remove('Rice')
food

['Panner', 'Chicken']

In [ ]:
# Python program to demonstrate  
# Removal of elements in a List 
  
# Creating a List 
List = [1, 2, 3, 4, 5, 6,7, 8, 9, 10, 11, 12] 
print("Intial List: ")
print()
print(List) 
  
# Removing elements from List 
# using Remove() method 
List.remove(5) 
List.remove(6) 
print("\nList after Removal of two elements: ") 
print(List)

Intial List:

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

In [ ]:
# Python program to demonstrate  
# Removal of elements in a List 
  
# Creating a List 
List = [1, 2, 3, 4, 5, 6,  
        7, 8, 9, 10, 11, 12] 
print("Intial List: ") 
print(List) 
  
# Removing elements from List 
# using Remove() method 
List.remove(5) 
List.remove(6) 
print("\nList after Removal of two elements: ") 
print(List) 
  
# Removing elements from List 
# using iterator method 
for i in range(1, 5): 
    List.remove(i) 
print("\nList after Removing a range of elements: ") 
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

# Using pop() method

Pop() function can also be used to remove and return an element from the set, but by default it removes only the last element of the set, to remove an element from a specific position of the List, the index of the element is passed as an argument to the pop() method.

In [ ]:
List = [1,2,3,4,5] 
  
# Removing element from the  
# Set using the pop() method 
List.pop() 
print("\nList after popping an element: ") 
print(List)

List after popping an element:
[1, 2, 3, 4]

In [ ]:
List = [1,2,3,4,5] 
  
# Removing element from the  
# Set using the pop() method 
List.pop() 
print("\nList after popping an element: ") 
print(List) 
  
# Removing element at a  
# specific location from the  
# Set using the pop() method 
List.pop() 
print("\nList after popping a specific element: ") 
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 3]

In [ ]:
List = [1,2,3,4,5]

# Removing element from the
# Set using the pop() method
List.pop()
print("\nList after popping an element: ")
print(List)

# Removing element at a
# specific location from the
# Set using the pop() method
List.pop(2)
print("\nList after popping a specific element: ")
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

# We can also delete an element of a list using the <code>del</code> command:

In [ ]:
# Delete the element based on the index
A=['disco','hard rock',1.2]
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['disco', 'hard rock', 1.2]
After change: ['hard rock', 1.2]

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del list1[2]
print ("After deleting value at index 2 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

# Clear Method()

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# remove all the elements from the list
food.clear()
food

[]

# checking particular element present inside the List

In [ ]:
L

['Michael Jackson', 10.2, 5, 6]

In [ ]:
10 in L

False

# Checking Index number of element in the List

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# dislay the index number
food.index('Panner')

1

# As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)

A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
print ("Value available at index 2 : ")
print (list1[2])
print(list1)
list1[2] = 2001
print ("New value available at index 2 : ")
print (list1[2])
print(list1)

Value available at index 2 :
1997
['physics', 'chemistry', 1997, 2000]
New value available at index 2 :
2001
['physics', 'chemistry', 2001, 2000]

# Count Method:

In [ ]:
# create a list
product = ['Chips', 'Biscuits', 'Drinks', 'Numkeen', 'Chips', 'Biscuits', 'Chips','Chips']

# get the count of "Chips"

product.count('Chips')

4

# Reverse Method

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# reverse the order of elements from the list
food.reverse()
food

['Chicken', 'Panner', 'Rice']

# Sort Method

In [ ]:
# create a list
alph = ['R', 'A', 'C', 'K']
# sort the elements
alph.sort()
alph

['A', 'C', 'K', 'R']

In [ ]:
# create a list
num = [1, 4, 5, 7, 3]
# sort the numeric elements
num.sort()
num

[1, 3, 4, 5, 7]

# We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [ ]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [ ]:
# Split the string, default is by space

'India is Great'.split()

['India', 'is', 'Great']

We can use the split function to separate strings on a specific character. We pass the character we would like to split on into the argument, which in this case is a comma. 

The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [ ]:
# Split the string by comma

'AB,C,D'.split(',')

['AB', 'C', 'D']

# <h3 id="co">Copy and Clone List</h3>

When we set one variable <b>B</b> equal to <b>A</b>; both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsRef.png" width="1000" align="center">

Initially, the value of the first element in <b>B</b> is set as hard rock. If we change the first element in <b>A</b> to <b>banana</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get banana instead of hard rock:

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsRefGif.gif" width="1000" />

You can clone list A by using the following syntax:

In [ ]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

 Variable **B** references a new copy or clone of the original list; this is demonstrated in the following figure:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsVal.gif" width="1000" />

Now if you change A, B will not change:

In [ ]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

# List Comprehension

1. List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc.

2. A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element

Syntax:

newList = [ expression(element) for element in oldList if condition ]

In [ ]:
# Python program to demonstrate list
# comprehension in Python

# below list contains square of all
# odd numbers from range 1 to 10
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print (odd_square)

[1, 9, 25, 49, 81]

For better understanding, the above code is similar to –

In [ ]:
# for understanding, above generation is same as,
odd_square = []

for x in range(1, 11):
	if x % 2 == 1:
		odd_square.append(x**2)

print (odd_square)

[1, 9, 25, 49, 81]

There are four collection data types in the Python programming language:

1. List is a collection which is ordered and changeable. ...


2. Tuple is a collection which is ordered and unchangeable. ...


3. Set is a collection which is unordered, unchangeable*, and unindexed. ...


4. Dictionary is a collection which is ordered** and changeable.