<a href="https://colab.research.google.com/github/omvishal1/python-practice/blob/main/Python_Data_Types_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types

In [ ]:
Data ---> Information


Type: What kind of Information
    
    
1. Numbers: INT/FLOAT/Complex Numbers

2. Text: Strings
    
3. Boolean: True
        
Images/Video---> Pixel----> Numbers

Audio----> Frequency-------> Numbers

LIST

Tuple

Set

Dictionary

In [ ]:
Generating Data----> Store---> a=[1,2,3,4,5,6,7,.......]

Data types are the classification or categorization of data items. 

It represents the kind of value that tells what operations can be performed on a particular data. 

Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Variables can hold values, and every value has a data-type. 

Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. 

The interpreter implicitly binds the value with its type.

a = 5  

The variable a holds integer value five and we did not define its type. Python interpreter will automatically interpret variables a as an integer type.

Python enables us to check the type of the variable used in the program. Python provides us the type() function, which returns the type of the variable passed.

Consider the following example to define the values of different data types and checking its type.

In [ ]:

a=10  
b="Hi Python"  
c = 10.5  
print(type(a))  
print(type(b))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

# Standard data types

A variable can hold different types of values. For example, a person's name must be stored as a string whereas its id must be stored as an integer.

Python provides various standard data types that define the storage method on each of them. The data types defined in Python are given below.

1. Numbers (int/Flaot/Complex)

2. Sequence Type (String/List/Tuple)

3. Boolean

4. Set

5. Dictionary

![](1.png)

# Set

1. A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

2. A set is a unique collection of objects in Python. 

3. You can denote a set with a curly bracket <b>{}</b>. Python will automatically remove duplicate items:

4. A Python set is the collection of the unordered items. Each element in the set must be unique, immutable, and the sets remove the duplicate elements. 

5. Sets are mutable which means we can modify it after its creation.

6. Unlike other collections in Python, there is no index attached to the elements of the set, i.e., we cannot directly access any element of the set by the index. However, we can print them all together, or we can get the list of elements by looping through the set.

# Creating a set

The set can be created by enclosing the comma-separated immutable items with the curly braces {}. Python also provides the set() method, which can be used to create the set by the passed sequence.

In [ ]:
# creating empty set

a={}
a

{}

In [ ]:
type(a)

dict

Creating an empty set is a bit different because empty curly {} braces are also used to create a dictionary as well. So Python provides the set() method used without an argument to create an empty set.

In [ ]:
# Empty curly braces will create dictionary  
set3 = {}  
print(type(set3))  
  
# Empty set using set() function  
set4 = set()  
print(type(set4))

<class 'dict'>
<class 'set'>

In [ ]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}    
print(Days)    
print(type(Days))

{'Wednesday', 'Tuesday', 'Monday', 'Sunday', 'Thursday', 'Friday', 'Saturday'}
<class 'set'>

# Example 2: Using set() method

In [ ]:
list()

tuple()

dict()

set()

In [ ]:
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
print(Days)    
print(type(Days))

{'Wednesday', 'Tuesday', 'Monday', 'Sunday', 'Thursday', 'Friday', 'Saturday'}
<class 'set'>

In [ ]:
# Python program to
# demonstrate sets

# Same as {"a", "b", "c"}
myset = set(["a", "b", "c"])
print(myset)

# Adding element to the set
myset.add("d")
print(myset)

{'a', 'c', 'b'}
{'a', 'd', 'c', 'b'}

# You can also create a set from a list as follows:

In [ ]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0,"Thriller"]
print(album_list)
print(album_list[0])
album_set = set(album_list)   

print(album_set)

['Michael Jackson', 'Thriller', 1982, '00:42:19', 'Pop, Rock, R&B', 46.0, 65, '30-Nov-82', None, 10.0, 'Thriller']
Michael Jackson
{65, 'Thriller', None, 10.0, 'Michael Jackson', 46.0, '30-Nov-82', '00:42:19', 1982, 'Pop, Rock, R&B'}

In [ ]:
album_set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
album_set[0]=9

TypeError: 'set' object does not support item assignment

In [ ]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

# You can also create a set from a tuple as follows:

In [ ]:
# create a set using set constructor
obj = set(("bag", "kurti", "sneakers", "t-shirt"))
obj

{'bag', 'kurti', 'sneakers', 't-shirt'}

# Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Every set element is unique (no duplicates) and must be immutable (cannot be changed). However, a set itself is mutable. We can add or remove items from it.

# Duplicates Not Allowed
Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
# Create a set

set2 = ["pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"]
set2

['pop', 'rock', 'soul', 'hard rock', 'rock', 'R&B', 'rock', 'disco']

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnique.png" width="1100" />

# Get the Length of a Set

In [ ]:
#To determine how many items a set has, use the len() method.

#Example: Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Set Items - Data Types
Set items can be of any data type:

In [ ]:
#Example: String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

# Access Elements

In [ ]:
obj4= {"bag", "kurti", "sneakers", "t-shirt"}
obj4

{'bag', 'kurti', 'sneakers', 't-shirt'}

In [ ]:
obj4[1]

TypeError: 'set' object is not subscriptable

# Set is not Mutable

In [ ]:
obj4= {"bag", "kurti", "sneakers", "t-shirt"}
obj4

{'bag', 'kurti', 'sneakers', 't-shirt'}

In [ ]:
obj4[1]='india'
obj4

TypeError: 'set' object does not support item assignment

# Note: We can not access elements in a set by referring to an index. Sets are unordered and unindexed

# Note: Once set is created we can not change its elements, but we can add new value

# Adding elements
Insertion in set is done through set.add() function, where an appropriate record value is created to store in the hash table

Python provides the add() method and update() method which can be used to add some particular item to the set. The add() method is used to add a single element whereas the update() method is used to add multiple elements to the set. Consider the following example.

# Example: 1 - Using add() method

In [ ]:
Months = set(["January","February", "March", "April", "May", "June"])    

print("\nprinting the original set ... ")    
print(Months)    

print("\nAdding other months to the set...");    
Months.add("July");    

Months.add ("August");    
print("\nPrinting the modified set..."); 

print(Months)    

Months.add("August")
print(Months)

printing the original set ...
{'March', 'April', 'June', 'January', 'February', 'May'}

Adding other months to the set...

Printing the modified set...
{'March', 'April', 'August', 'July', 'June', 'January', 'February', 'May'}
{'March', 'April', 'August', 'July', 'June', 'January', 'February', 'May'}

In [ ]:
# A Python program to
# demonstrate adding elements
# in a set

# Creating a Set
people = {"Jay", "Idrish", "Archi"}

print("People:", end = " ")
print(people)

# This will add Daxit
# in the set
people.add("Daxit")

print(people)

# Adding elements to the
# set using iterator
for i in range(1, 6):
	people.add(i)

print("\nSet after adding element:", end = " ")
print(people)

People: {'Archi', 'Jay', 'Idrish'}
{'Archi', 'Daxit', 'Jay', 'Idrish'}

Set after adding element: {1, 2, 3, 4, 5, 'Archi', 'Daxit', 'Jay', 'Idrish'}

In [ ]:
# Python program to
# demonstrate sets
  
# Same as {"a", "b", "c"}
#myset = {"a", "b", "c"}
myset = set(["a", "b", "c"])
print(myset)
  
# Adding element to the set
myset.add("d")
print(myset)

{'a', 'c', 'b'}
{'a', 'd', 'c', 'b'}

# Example - 2 Using update() function

To add more than one item in the set, Python provides the update() method. It accepts iterable as an argument.

Consider the following example.

In [ ]:
Months = set(["January","February", "March", "April", "May", "June"])    

print("\nprinting the original set ... ")    
print(Months)    
print("\nupdating the original set ... ")    

Months.update(["July","August","September","October"]);    
print("\nprinting the modified set ... ")     
print(Months);

printing the original set ...
{'March', 'April', 'June', 'January', 'February', 'May'}

updating the original set ...

printing the modified set ...
{'March', 'April', 'October', 'August', 'July', 'September', 'June', 'January', 'February', 'May'}

# Removing items from the set

Python provides the discard() method and remove() method which can be used to remove the items from the set. 

The difference between these function, using discard() function if the item does not exist in the set then the set remain unchanged whereas remove() method will through an error.

Consider the following example.

# Example-1 Using discard() method

In [ ]:
months = set(["January","February", "March", "April", "May", "June"])    

print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    

months.discard("January");    
months.discard("May");    

print("\nPrinting the modified set...");    
print(months)    
print("\nlooping through the set elements ... ")

printing the original set ...
{'March', 'April', 'June', 'January', 'February', 'May'}

Removing some months from the set...

Printing the modified set...
{'March', 'April', 'June', 'February'}

looping through the set elements ...

In [ ]:
# create a set
height = {5.5, 6.7, 5.6, 3.2, 3.3,5.5}
height

{3.2, 3.3, 5.5, 5.6, 6.7}

In [ ]:
# remove element from the set
height.discard(3.2)
height

{3.3, 5.5, 5.6, 6.7}

Python provides also the remove() method to remove the item from the set. Consider the following example to remove the items using remove() method.

# Example-2 Using remove() function

In [ ]:

months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.remove("January");    
months.remove("May");    
print("\nPrinting the modified set...");    
print(months)

printing the original set ...
{'March', 'April', 'June', 'January', 'February', 'May'}

Removing some months from the set...

Printing the modified set...
{'March', 'April', 'June', 'February'}


We can also use the pop() method to remove the item. Generally, the pop() method will always remove the last item but the set is unordered, we can't determine which element will be popped from set.

Consider the following example to remove the item from the set using pop() method.

In [ ]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving some months from the set...");    
Months.pop();    
Months.pop();    
print("\nPrinting the modified set...");    
print(Months)

printing the original set ...
{'March', 'April', 'June', 'January', 'February', 'May'}

Removing some months from the set...

Printing the modified set...
{'June', 'January', 'February', 'May'}

In [ ]:
# create a first set
num_1 = {1, 2, 3, 4}
num_1.remove(1)
num_1

{2, 3, 4}

In the above code, the last element of the Month set is March but the pop() method removed the June and January because the set is unordered and the pop() method could not determine the last element of the set.

Python provides the clear() method to remove all the items from the set.

Consider the following example.

In [ ]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving all the items from the set...");    
Months.clear()    
print("\nPrinting the modified set...")    
print(Months)

printing the original set ...
{'March', 'April', 'June', 'January', 'February', 'May'}

Removing all the items from the set...

Printing the modified set...
set()

# Difference between discard() and remove()

Despite the fact that discard() and remove() method both perform the same task, There is one main difference between discard() and remove().

If the key to be deleted from the set using discard() doesn't exist in the set, the Python will not give the error. The program maintains its control flow.

On the other hand, if the item to be deleted from the set using remove() doesn't exist in the set, the Python will raise an error.

Consider the following example.

In [ ]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving items through discard() method...");    
Months.discard("Feb"); #will not give an error although the key feb is not available in the set    
print("\nprinting the modified set...")    
print(Months)    
print("\nRemoving items through remove() method...");    
Months.remove("Jan") #will give an error as the key jan is not available in the set.     
print("\nPrinting the modified set...")    
print(Months)

printing the original set ...
{'March', 'April', 'June', 'January', 'February', 'May'}

Removing items through discard() method...

printing the modified set...
{'March', 'April', 'June', 'January', 'February', 'May'}

Removing items through remove() method...

KeyError: 'Jan'

In [ ]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

KeyError: 2

# We can verify if an element is in the set using the in command:

In [ ]:
g={1,2,3,4,5,2}

In [ ]:
2 in g

True

# Python Set Operations


Set can be performed mathematical operation such as union, intersection, difference, and symmetric difference. Python provides the facility to carry out these operations with operators or methods. We describe these operations as follows.

# Union of two Sets

The union of two sets is calculated by using the pipe (|) operator. The union of the two sets contains all the items that are present in both the sets.

![](3.png)

In [ ]:
a={1,2,3}
b={4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Consider the following example to calculate the union of two sets.

#Example 1: using union | operator

Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1|Days2) #printing the union of the sets

{'Wednesday', 'Monday', 'Sunday', 'Thursday', 'Friday', 'Saturday', 'Tuesday'}

Python also provides the union() method which can also be used to calculate the union of two sets. Consider the following example.

In [ ]:
#Example 2: using union() method

Days1 = {"Monday","Tuesday","Wednesday","Thursday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1.union(Days2)) #printing the union of the sets

{'Wednesday', 'Monday', 'Sunday', 'Thursday', 'Friday', 'Saturday', 'Tuesday'}

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsSamples.png" width="650" />

In [ ]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnion.png" width="650" />

In [ ]:
# create a first set
words_a = {'then', 'before', 'we', 'where'}
# create a second set
words_b = {'before', 'never', 'we', 'late'}

In [ ]:
words_a.union(words_b)

{'before', 'late', 'never', 'then', 'we', 'where'}

# Intersection of two sets

The intersection of two sets can be performed by the and & operator or the intersection() function. The intersection of the two sets is given as the set of the elements that common in both sets.

![](4.png)

In [ ]:
#Consider the following example.

#Example 1: Using & operator

Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday","Tuesday","Sunday", "Friday"}    
print(Days1&Days2) #prints the intersection of the two sets

{'Monday', 'Tuesday'}

In [ ]:
#Example 2: Using intersection() method

set1 = {"Devansh","John", "David", "Martin"}    
set2 = {"Steve", "Milan", "David", "Martin"}    
print(set1.intersection(set2)) #prints the intersection of the two sets

{'Martin', 'David'}

In [ ]:
#Example 3:

set1 = {1,2,3,4,5,6,7}  
set2 = {1,2,20,32,5,9}  
set3 = set1.intersection(set2)  
print(set3)

{1, 2, 5}

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])

album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsSamples.png" width="650" />

In [ ]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLogic.png" width = "650" />

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsIntersect.png" width="650" />

# The intersection_update() method

The intersection_update() method removes the items from the original set that are not present in both the sets (all the sets if more than one are specified).

The intersection_update() method is different from the intersection() method since it modifies the original set by removing the unwanted items, on the other hand, the intersection() method returns a new set.

In [ ]:
#Consider the following example.

a = {"Devansh", "bob", "castle"}    
b = {"castle", "dude", "emyway"}    
c = {"fuson", "gaurav", "castle"}    
    
a.intersection_update(b, c)    
    
print(a)

{'castle'}

In [ ]:
# create a first set
p = {'a', 'b', 'c', 'd'}
# create a second set
q = {'c', 'e', 'a', 'f'}

In [ ]:
c=p&q
c

{'a', 'c'}

In [ ]:
p.intersection(q)

{'a', 'c'}

In [ ]:
p

{'a', 'b', 'c', 'd'}

In [ ]:
p.intersection_update(q)

In [ ]:
p

{'a', 'c'}

# Difference between the two sets

You can find all the elements that are only contained in album_set1 using the difference method:

The difference of two sets can be calculated by using the subtraction (-) operator or intersection() method. Suppose there are two sets A and B, and the difference is A-B that denotes the resulting set will be obtained that element of A, which is not present in the set B.

difference method()
It returns a set contains the elements that only exist in set alpha_a, and not in alpha_b

![](5.png)

In [ ]:
#Consider the following example.

#Example 1 : Using subtraction ( - ) operator

Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1-Days2) #{"Wednesday", "Thursday" will be printed}

{'Thursday', 'Wednesday'}

In [ ]:
print(Days2-Days1)

{'Sunday'}

In [ ]:
#Example 2 : Using difference() method

Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1.difference(Days2)) # prints the difference of the two sets Days1 and Days2

{'Thursday', 'Wednesday'}

In [ ]:
# create a first set
alpha_a = {'a', 'b', 'c', 'd'}
# create a second set
alpha_b = {'c', 'e', 'a', 'f'}

In [ ]:
alpha_a.difference(alpha_b)

{'b', 'd'}

In [ ]:
alpha_b.difference(alpha_a)

{'e', 'f'}

In [ ]:
alpha_a

{'a', 'b', 'c', 'd'}

In [ ]:
alpha_b

{'a', 'c', 'e', 'f'}

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLeft.png" width="650" />

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsRight.png" width="650" />

# difference_update()
It removes the items from first set that are included in another set

In [ ]:
a= {1,2,3}

b= {1,2,4}

b.difference_update(a)

In [ ]:
b

{4}

In [ ]:
a

{1, 2, 3}

In [ ]:
# create a first set
alpha_a = {'a', 'b', 'c', 'd'}
# create a second set
alpha_b = {'c', 'e', 'a', 'f'}

In [ ]:
alpha_b.difference_update(alpha_a)

In [ ]:
alpha_b

{'e', 'f'}

In [ ]:
alpha_a

{'a', 'b', 'c', 'd'}

In [ ]:
# create a first set
alpha_a = {'a', 'b', 'c', 'd'}
# create a second set
alpha_b = {'c', 'e', 'a', 'f'}

In [ ]:
alpha_a.difference_update(alpha_b)

In [ ]:
alpha_a

{'b', 'd'}

In [ ]:
alpha_b

{'a', 'c', 'e', 'f'}

# Note: difference() method is different from difference_update() method, because the difference() method returns a new set
​

# Symmetric Difference of two sets

The symmetric difference of two sets is calculated by ^ operator or symmetric_difference() method.

Symmetric difference of sets, it removes that element which is present in both sets. Consider the following example:

![](6.png)

In [ ]:
#Example - 1: Using ^ operator

a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a^b  
print(c)

{3, 4, 5, 6, 8, 9, 10}

In [ ]:
#Example - 2: Using symmetric_difference() method

a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a.symmetric_difference(b)  
print(c)

{3, 4, 5, 6, 8, 9, 10}

# And you can check if a set is a superset or subset of another set, respectively, like this:
# Sample Sets

In [ ]:
a={1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [ ]:
b={2,3}
b

{2, 3}

In [ ]:
b is the subset a

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [ ]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [ ]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [ ]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

# isdisjoint() method

In [ ]:
# create a first set
alpha_a = {'a', 'b'}
# create a second set
alpha_b = {'c', 'd'}

In [ ]:
alpha_a.isdisjoint(alpha_b)

True

# issuperset() method

In [ ]:
# create a first set
num_1 = {1, 2, 3, 4}
# create a second set
num_2 = {1, 2, 3, 4}

In [ ]:
num_1.issuperset(num_2)

True

# Set comparisons

Python allows us to use the comparison operators i.e., <, >, <=, >= , == with the sets by using which we can check whether a set is a subset, superset, or equivalent to other set. The boolean true or false is returned depending upon the items present inside the sets.

Consider the following example.

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday"}    
Days3 = {"Monday", "Tuesday", "Friday"}    
    
#Days1 is the superset of Days2 hence it will print true.     
print (Days1>Days2)     
    
#prints false since Days1 is not the subset of Days2     
print (Days1<Days2)    
    
#prints false since Days2 and Days3 are not equivalent     
print (Days2 == Days3)

True
False
False

# FrozenSets

The frozen sets are the immutable form of the normal sets, i.e., the items of the frozen set cannot be changed and therefore it can be used as a key in the dictionary.

The elements of the frozen set cannot be changed after the creation. We cannot change or append the content of the frozen sets by using the methods like add() or remove().

The frozenset() method is used to create the frozenset object. The iterable sequence is passed into this method which is converted into the frozen set as a return type of the method.

Consider the following example to create the frozen set.

In [ ]:
nu = (1, 2, 3, 4, 5, 6, 7, 8, 9)
c=set(nu)
c

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [ ]:
c.add(10)
c

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# Python program to understand frozenset() function

# tuple of numbers
nu = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# converting tuple to frozenset
fnum = frozenset(nu)

# printing details
print("frozenset Object is : ", fnum)

frozenset Object is :  frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

Since frozenset object are immutable they are mainly used as key in dictionary or elements of other sets. Below example explains it clearly

In [ ]:
# Python program to understand use
# of frozenset function

# creating a dictionary
Student = {"name": "Ankit", "age": 21, "sex": "Male",
		"college": "MNNIT Allahabad", "address": "Allahabad"}

# making keys of dictionary as frozenset
key = frozenset(Student)

# printing keys details
print('The frozen set is:', key)

The frozen set is: frozenset({'name', 'sex', 'age', 'college', 'address'})

If by mistake we want to change the frozenset object then it throws an error “‘frozenset’ object does not support item assignment“.

In [ ]:
# Python program to understand
# use of frozenset function

# creating a list
favourite_subject = ["OS", "DBMS", "Algo"]

# making it frozenset type
f_subject = frozenset(favourite_subject)

# below line will generate error

f_subject[1] = "Networking"

TypeError: 'frozenset' object does not support item assignment

In [ ]:
Frozenset = frozenset([1,2,3,4,5])     
print(type(Frozenset))    
print("\nprinting the content of frozen set...")    
for i in Frozenset:    
    print(i);    
Frozenset.add(6) #gives an error since we cannot change the content of Frozenset after creation

<class 'frozenset'>

printing the content of frozen set...
1
2
3
4
5

AttributeError: 'frozenset' object has no attribute 'add'

# Frozenset for the dictionary

If we pass the dictionary as the sequence inside the frozenset() method, it will take only the keys from the dictionary and returns a frozenset that contains the key of the dictionary as its elements.

Consider the following example.

In [ ]:
Dictionary = {"Name":"John", "Country":"USA", "ID":101}     
print(type(Dictionary))    
Frozenset = frozenset(Dictionary); #Frozenset will contain the keys of the dictionary    
print(type(Frozenset))    
for i in Frozenset:     
    print(i)

<class 'dict'>
<class 'frozenset'>
Country
Name
ID

# Set Programming Example

In [ ]:
#Example - 1: Write a program to remove the given number from the set.

my_set = {1,2,3,4,5,6,12,24}  
n = int(input("Enter the number you want to remove"))  
my_set.discard(n)  
print("After Removing:",my_set)

Enter the number you want to remove3
After Removing: {1, 2, 4, 5, 6, 12, 24}

In [ ]:
#Example - 2: Write a program to add multiple elements to the set.

set1 = set([1,2,4,"John","CS"])  
set1.update(["Apple","Mango","Grapes"])  
print(set1)

{1, 2, 4, 'Mango', 'John', 'Apple', 'Grapes', 'CS'}

In [ ]:
#Example - 3: Write a program to find the union between two set.

set1 = set(["Peter","Joseph", 65,59,96])  
set2  = set(["Peter",1,2,"Joseph"])  
set3 = set1.union(set2)  
print(set3)

{96, 65, 'Peter', 2, 1, 'Joseph', 59}

In [ ]:
#Example- 4: Write a program to find the intersection between two sets.

set1 = {23,44,56,67,90,45,"Javatpoint"}  
set2 = {13,23,56,76,"Sachin"}  
set3 = set1.intersection(set2)  
print(set3)

{56, 23}

In [ ]:
#Example - 5: Write the program to add element to the frozenset.

set1 = {23,44,56,67,90,45,"Javatpoint"}  
set2 = {13,23,56,76,"Sachin"}  
set3 = set1.intersection(set2)  
print(set3)

{56, 23}

In [ ]:
#Example - 6: Write the program to find the issuperset, issubset and superset.

set1 = set(["Peter","James","Camroon","Ricky","Donald"])  
set2 = set(["Camroon","Washington","Peter"])  
set3 = set(["Peter"])  
  
issubset = set1 >= set2  
print(issubset)  
issuperset = set1 <= set2  
print(issuperset)  
issubset = set3 <= set2  
print(issubset)  
issuperset = set2 >= set3  
print(issuperset)

False
False
True
True

# Python Built-in set methods

Python contains the following methods to be used with the sets.

SN	Method	Description
1	add(item)	It adds an item to the set. It has no effect if the item is already present in the set.
2	clear()	It deletes all the items from the set.
3	copy()	It returns a shallow copy of the set.
4	difference_update(....)	It modifies this set by removing all the items that are also present in the specified sets.
5	discard(item)	It removes the specified item from the set.
6	intersection()	It returns a new set that contains only the common elements of both the sets. (all the sets if more than two are specified).
7	intersection_update(....)	It removes the items from the original set that are not present in both the sets (all the sets if more than one are specified).
8	Isdisjoint(....)	Return True if two sets have a null intersection.
9	Issubset(....)	Report whether another set contains this set.
10	Issuperset(....)	Report whether this set contains another set.
11	pop()	Remove and return an arbitrary set element that is the last element of the set. Raises KeyError if the set is empty.
12	remove(item)	Remove an element from a set; it must be a member. If the element is not a member, raise a KeyError.
13	symmetric_difference(....)	Remove an element from a set; it must be a member. If the element is not a member, raise a KeyError.
14	symmetric_difference_update(....)	Update a set with the symmetric difference of itself and another.
15	union(....)	Return the union of sets as a new set.
(i.e. all elements that are in either set.)
16	update()	Update a set with the union of itself and others.

# Python Collections (Arrays)

There are four collection data types in the Python programming language:

1. List is a collection which is ordered and changeable. Allows duplicate members.


2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.


3. Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.


4. Dictionary is a collection which is ordered** and changeable. No duplicate members.