<a href="https://colab.research.google.com/github/omvishal1/python-practice/blob/main/Python_Data_Types_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types

1. Data types are the classification or categorization of data items. 

2. It represents the kind of value that tells what operations can be performed on a particular data. 

3. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Variables can hold values, and every value has a data-type. 

Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. 

The interpreter implicitly binds the value with its type.

a = 5  

The variable a holds integer value five and we did not define its type. Python interpreter will automatically interpret variables a as an integer type.

Python enables us to check the type of the variable used in the program. Python provides us the type() function, which returns the type of the variable passed.

Consider the following example to define the values of different data types and checking its type.

In [ ]:

a=10  
b="Hi Python"  
c = 10.5  
print(type(a))  
print(type(b))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

# Standard data types

A variable can hold different types of values. For example, a person's name must be stored as a string whereas its id must be stored as an integer.

Python provides various standard data types that define the storage method on each of them. The data types defined in Python are given below.

1. Numbers (int/Flaot/Complex)

2. Sequence Type (String/List/Tuple)

3. Boolean

4. Set

5. Dictionary

![](1.png)

# Tuples

1. A Tuple is a collection of Python objects separated by commas.Tuples are written with round brackets.

2. A tuple is a collection which is ordered and unchangeable.

3. A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

4. A tuple is an immutable data type in python, almost similar to a list in python in terms of indexing and having duplicate members. It is a collection data type that stores python objects separated by commas.

In Python, there are different data types: string, integer and float. These data types can all be contained in a tuple as follows:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesType.png" width="750" align="center" />

# Creating Tuples

## Empty Tuple

In [ ]:
# Create Empty Tuple
a=()
a

()

In [ ]:
# Create tuple with int numbers 

tuple1 = (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

In [ ]:
type(tuple1)

tuple

In [ ]:
# Create  tuple with float numbers

tuple2 = (1.2,3.4,5.6,7.8)
tuple2

(1.2, 3.4, 5.6, 7.8)

In [ ]:
# Create  tuple with strings

tuple3 = ('1','a','b')
tuple3

('1', 'a', 'b')

In [ ]:
# Create tuple with distinct data types

tuple4 = ("disco",10,1.2)
tuple4

('disco', 10, 1.2)

In [ ]:
type(tuple4)

tuple

In [ ]:
a5=(4,)
a5

(4,)

In [ ]:
type(a5)

tuple

In [ ]:
#Create Tuple With One Item
#To create a tuple with only one item, you have to add a comma after the item, 
#otherwise Python will not recognize it as a tuple.
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

# Cheking Data Type of Tuple

In [ ]:
# Checking Data Type of Tuple
tuple4 = ("disco",10,1.2)
print(tuple4)
print(type(tuple4))

('disco', 10, 1.2)
<class 'tuple'>

# Converting list to a Tuple

Typecasting : Converting one Data type to other

In [ ]:
# Code for converting a list and a string into a tuple

list1 = [0, 1, 2]
a=tuple(list1)
#print(tuple('python')) # string 'python'
print(type(a))

<class 'tuple'>

Function: To perform some task

In [ ]:
tuple(list1)

(0, 1, 2)

In [ ]:
type(list1)

list

In [ ]:
a=[1,2,3,4,5,6,1,2,3]
a

[1, 2, 3, 4, 5, 6, 1, 2, 3]

# Tuple items are ordered, unchangeable, and allow duplicate values.

# Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

# Allow Duplicates

Since tuples are indexed, they can have items with the same value:

In [ ]:
a2=(1,2,3,1,2,3)
a2

(1, 2, 3, 1, 2, 3)

# Tuple Length

To determine how many items a tuple has, use the len() function:

In [ ]:
a1 = ("apple", "banana", "cherry")
print(len(a1))

3

# Concatenation of Tuples

In [ ]:
# Code for concatenating 2 tuples

tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'India')

# Concatenating above two
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'India')

# Nesting of Tuples

In [ ]:
# Code for creating nested tuples

tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'India')
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'India'))

# Repetition in Tuples

In [ ]:
# Code to create a tuple with repetition

tuple3 = ('python',)*25
print(tuple3)

('python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python')

# Accessing Values in Tuples
To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index. For example −

Accessing items in a tuple works similar to a list, we can access elements in a list using indexes. We can specify the index value and it will return the item stored at that particular index value.

# Indexing

Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesIndex.gif" width="750" align="center">

In [ ]:
a1=("disco",10,1.2)
a1

('disco', 10, 1.2)

We can print out each value in the tuple:

In [ ]:
# Print the variable on each index

print(a1[0])
print(a1[1])
print(a1[2])

disco
10
1.2

We can print out the **type** of each value in the tuple:

In [ ]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'int'>
<class 'int'>
<class 'int'>

# Negative Indexing

We can also use negative indexing. We use the same table above with corresponding negative values:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNeg.png" width="750" align="center">

We can obtain the last element as follows (this time we will not use the print statement to display the values):

In [ ]:
tuple1=('disco',10,1.2)
tuple1

('disco', 10, 1.2)

In [ ]:

# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [ ]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [ ]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

# Slicing

We can slice tuples, obtaining new tuples with the corresponding elements:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesSlice.gif" width="750" align="center">

In [ ]:
tuple2=('disco',10,1.2,'hard rock',10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesElement.png" width="750" align="center">

# Stride

In [ ]:
tuple2=('disco',10,1.2,'hard rock',10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
tuple2[::2]

('disco', 1.2, 10)

# Nested Tuple

A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestOne.png" width="750" align="center">

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [ ]:
NestedT[4][0][1]

'i'

In [ ]:

# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

We can use the second index to access other tuples as demonstrated in the figure:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestTwo.png" width="750" align="center">

we can access Nested Tuple

In [ ]:
NestedT[2][1]

'rock'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestFour.gif" width="750" align="center">

In [ ]:
NestedT[2][1][0]

'r'

In [ ]:
NestedT[3][1]

(1, 2)

In [ ]:
NestedT[4][1]

(1, 2)

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

# Sortings

In [ ]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
h=sorted(Ratings)
h

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
fg=("d","a","c","z","p")
gh=sorted(fg)
gh

['a', 'c', 'd', 'p', 'z']

# Tuple is immutable

In [ ]:
A=(1,2,3,4)
A

(1, 2, 3, 4)

In [ ]:
A[1]

2

In [ ]:
A[1]=7

TypeError: 'tuple' object does not support item assignment

In [ ]:
A1=[1,2,3,4]
A1

[1, 2, 3, 4]

In [ ]:
A1[1]

2

In [ ]:
A1[1]=7
A1

[1, 7, 3, 4]

# Changing A Tuple
Even though tuples in python are immutable in nature, a nested object in a tuple can be changed. Or in general, a tuple in python can be reassigned with a different value.

In [ ]:
# create a tuple
age = (32, 45, 56, 33)
age

(32, 45, 56, 33)

In [ ]:
# add value into tuple
age[2] = 33

TypeError: 'tuple' object does not support item assignment

In [ ]:
#code to test that tuples are immutable

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = (1,2,3,[4,5])
a[3][0] = 14
print(a)

(1, 2, 3, [14, 5])

# Remove Elements

We cannot add and  remove elements from the tuple, but we can delete the tuple completely

In [ ]:
a1=(1,2,3,4)
a1.remove(4)
a1

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
# create a tuple and add element using append

words = ('this', 'that', 'is', 'there')
words.append('hi')
words

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# create a tuple and try to remove using remove method

words = ('this', 'that', 'is', 'there')
words.remove('this')
words

AttributeError: 'tuple' object has no attribute 'remove'

# Deleting A Tuple

Being an immutable data type, a tuple in python does not allow any changes and you cannot even remove an element from a tuple after the declaration. But there is a keyword ‘del’ which will delete the tuple altogether.

In [ ]:
# create a tuple
words = ('this', 'that', 'is', 'there')
words

('this', 'that', 'is', 'there')

In [ ]:
# delete tuple
del words

words

NameError: name 'words' is not defined

# Deleting a Tuple

In [ ]:
# Code for deleting a tuple

tuple3 = ( 0, 1)
del tuple3
print(tuple3)

NameError: name 'tuple3' is not defined

# Converting list to a Tuple

In [ ]:
# Code for converting a list and a string into a tuple

list1 = [0, 1, 2]
print(tuple(list1))
print(tuple('python')) # string 'python'

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

# Updating Tuples

Tuples are immutable which means you cannot update or change the values of tuple elements. You are able to take portions of existing tuples to create new tuples as the following example demonstrates −

In [ ]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3);

TypeError: 'tuple' object does not support item assignment

# Maximum and Minimum

In [ ]:
tuple1=(1,2,3,4,5,400,3,4,5,1,2,3,4,5,6,2,3,4,2,3,3,3,3)
tuple1

(1, 2, 3, 4, 5, 400, 3, 4, 5, 1, 2, 3, 4, 5, 6, 2, 3, 4, 2, 3, 3, 3, 3)

In [ ]:
min(tuple1)

1

In [ ]:
max(tuple1)

400

In [ ]:
sum(tuple1)

415

# How to Check for an Item Existing in Tuple

We can check to see if a particular item exists in a tuple. The example below shows how it can be done.

# Membership

1. Using the membership operator ‘in’ in python we can check whether an element is present in a tuple or not. 

2. The following example shows how we can check if an element is present in a tuple or not.

It returns true if a particular item exists in the tuple otherwise false

In [ ]:
3 in (1, 2, 3)

True

In [ ]:
a = (1,2,3,4,5,6,7,8,9,10)
 
print(6 in a)
 
print(15 in a )

True
False

# Count: Returns the count of the items.

In [ ]:
a = (1,2,1,3,1,3,1,2,1,4,1,5,1,5)
print(a.count(1))

7

# Index: It returns the index of the item specified.

In [ ]:
print(a.index(5))

11

Difference Between List and Tuples 


1. List is Mutable and tuple is immutable

2. List is declared in square bracket and tuple is in paranthesis

3. List is Changeable and Tuple is not Changeable

4. List we can add /Remove the Data and in Tuple only we can delete 

5. Array is collection of Homogeneous and List is Colelction of Homogeneous/Heterogenous